.inputs1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-family: var(--label);
}
.pen-icon3 {
  position: relative;
  width: 0.75rem;
  height: 0.75rem;
}
.magnifyingglass11 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs);
  align-items: center;
  justify-content: center;
}
.click-me2 {
  position: relative;
}
.button2 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--colors-primary);
  box-shadow: var(--sm);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-13xl);
  align-items: center;
  justify-content: center;
  mix-blend-mode: normal;
  cursor: pointer;
  color: var(--text-textneg);
}
.dont-have-an {
  position: relative;
  color: var(--colors-secondary);
  cursor: pointer;
}
.inputs-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--label-size);
  color: var(--color-darkslategray-100);
  font-family: var(--title);
}

.lessgo-we-on2 {
  border: none;
}
