.pause-icon3 {
  width: 0.75rem;
  height: 0.75rem;
}
.living-room2,
.pause-icon3 {
  position: relative;
}
.text5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.pen-icon5 {
  position: relative;
  width: 0.75rem;
  height: 0.75rem;
  cursor: pointer;
}
.icons4,
.label5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.label5 {
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
}
.livingroom-icon {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-5xs);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  aspect-ratio: 16/9;
}
.cam {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  text-align: left;
  font-size: var(--label-size);
  color: var(--text-text0);
  font-family: var(--label);
}
