.label-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  text-overflow: ellipsis;
  gap: var(--gap-5xs);
}

.label-icon {
  position: relative;
  width: 0.75rem;
  height: 0.75rem;
  cursor: pointer;
}

.icons,
.label-text {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  font-size: var(--label-size);
  color: var(--text-text0);
  font-family: var(--label);
}

.label-text {
  flex: 1;
  gap: var(--gap-xs);
}

.label {
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
}

.disabled .label-title,
.disabled .label-icons {
  color: var(--text-text2);
}

.video {
  border-radius: var(--br-5xs);
  aspect-ratio: 16/9;
  object-fit: cover;
}

.cam-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--gap-base);
  font-size: var(--label-size);
  color: var(--text-text0);
  font-family: var(--label);
}

.disabled .video {
  background-color: var(--bg-bg2);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disabled .video .disabled-icon {
  width: 2rem;
  height: 2rem;
  color: var(--text-text2);
}

.temperature {
  font-size: 1rem;
  font-family: var(--label);
  color: var(--text-text2);
}

.frame-parent1 {
  display: flex;
  border-radius: var(--br-5xs);
  background-color: #cfded4;
  aspect-ratio: 16/9;

  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-evenly;
  font-size: var(--font-size-xl);
  color: var(--text-text1);
  font-family: var(--title);
}
