.text8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.pen-icon7 {
  position: relative;
  width: 0.75rem;
  height: 0.75rem;
}
.icons5,
.label8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.label8 {
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
}
.c,
.temperature {
  position: relative;
}

.c {
  font-size: 1rem;
}

.temperature {
  font-size: 1rem;
  font-family: var(--label);
  color: var(--text-text2);
}

.frame-parent1 {
  display: flex;
  border-radius: var(--br-5xs);
  background-color: #cfded4;
  height: 18.88rem;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-evenly;
  padding: var(--padding-5xl);
  font-size: var(--font-size-xl);
  color: var(--text-text1);
  font-family: var(--title);
}

.c-parent {
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
