.button6 {
  border-radius: var(--br-5xs);
  box-shadow: var(--sm);
  border: 1px solid var(--colors-red);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-13xl);
  align-items: center;
  justify-content: center;
}

.button-save6 {
  color: var(--colors-red);
}
