.vector-icon15 {
  position: relative;
  width: 0.61rem;
  height: 0.75rem;
}
.fire1 {
  width: 0.75rem;
  height: 0.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.intrusion-warning15 {
  position: relative;
}
.icongroup46 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.icon-row7 {
  align-self: stretch;
  position: relative;
  height: 0.94rem;
}
.pin-icon15 {
  position: relative;
  width: 0.59rem;
  height: 0.75rem;
}
.icongroup47 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.container-icon15 {
  position: relative;
  width: 0.75rem;
  height: 0.75rem;
}
.alert8,
.properties15 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  color: var(--color-darkslategray-100);
}
.alert8 {
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--label-size);
  color: var(--colors-red);
  font-family: var(--label);
}
