.monday,
.preview-the-days {
  position: relative;
  display: flex;
  align-items: center;
}
.preview-the-days {
  font-size: var(--font-size-5xs);
  font-family: var(--label);
  color: var(--text-text2);
  width: 20.75rem;
}
.monday {
  width: 3.75rem;
  flex-shrink: 0;
}
.planning-child,
.planning-child17 {
  align-self: stretch;
  flex: 1;
  position: relative;
  background-color: var(--colors-primary);
  overflow: hidden;
}
.planning-child17 {
  background-color: var(--bg-bg2);
}
.monday-parent,
.planning2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.planning2 {
  flex: 1;
  height: 1.25rem;
}
.monday-parent {
  width: 20.75rem;
  height: 2.38rem;
  gap: var(--gap-9xs);
}