.monday,
.preview-the-days {
  position: relative;
  display: flex;
  align-items: center;
}
.preview-the-days {
  font-size: var(--font-size-5xs);
  font-family: var(--label);
  color: var(--text-text2);
  width: 20.75rem;
}
.monday {
  width: 5rem;
  flex-shrink: 0;
}
.canvas-full {
  height: 100%;
  width: 100%;
  border-radius: 4px;
}
.monday-parent,
.planning2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.planning2 {
  flex: 1;
  height: 1.25rem;
}
.monday-parent {
  gap: var(--gap-xs);
}
