.admin-label {
  position: relative;
  color: black;
}

.admin-description {
  align-self: stretch;
  position: relative;
  font-size: var(--breadcrumb-size);
  color: var(--text-text2);
}

.admin-wrapper {
  position: relative;
  gap: var(--gap-7xs);

  width: 100%;
  
}

input.admin-input {
  /* border box */
  box-sizing: border-box;
  width: 100%;
  margin-top: var(--gap-7xs);

  border-radius: var(--br-5xs);
  background-color: var(--text-textneg);
  box-shadow: var(--sm);
  border: 1px solid var(--bg-bg2);
  padding: var(--padding-xs);
  mix-blend-mode: normal;
  color: var(--text-text0);

  padding-right: 40px;
  align-self: stretch;
  display: flex;
}

img.admin-pen-icon100{
  position: absolute;
  top: 50%;
  right: 4%; /* Ajustez cette valeur en fonction de la distance souhaitée entre l'icône et l'input */
}