.login10 {
  position: relative;
  font-family: var(--title);
}
.logging-in-will8 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xs);
  color: var(--text-text2);
  display: none;
}
.lessgo-we-on9,
.vector-icon20 {
  position: relative;
}
.vector-icon20 {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.magnifyingglass15,
.magnifyingglass16 {
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-11xs);
  align-items: center;
  justify-content: center;
}
.magnifyingglass16 {
  width: 0.75rem;
  height: 0.75rem;
  flex-shrink: 0;
  display: none;
  box-sizing: border-box;
}
.magnifyingglass15 {
  display: flex;
}
.input20,
.input21 {
  align-self: stretch;
  display: flex;
}
.input21 {
  border-radius: var(--br-5xs);
  background-color: var(--text-textneg);
  box-shadow: var(--sm);
  border: 1px solid var(--bg-bg2);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs);
  align-items: center;
  justify-content: space-between;
  mix-blend-mode: normal;
  color: var(--text-text0);
}
.input20 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  text-align: left;
  font-size: var(--label-size);
  color: var(--text-text1);
  font-family: var(--label);
}
