@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
body {
  margin: 0;
  padding: 0;
  line-height: normal;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
}

footer {
  background-color: #c33e22;
}

:root {
  /* fonts */
  --label: Inter;
  --title: Rubik;

  /* font sizes */
  --label-size: 0.75rem;
  --title-size: 1.5rem;
  --breadcrumb-size: 0.5rem;
  --font-size-7xs: 0.38rem;
  --font-size-sm-7: 0.86rem;

  /* Colors */
  --text-textneg: #fff;
  --text-text0: #000;
  --bg-bg2: #d9d9d9;
  --text-text2: #808080;
  --colors-red: #c33e22;
  --colors-primary: #2b4162;
  --color-darkslategray-100: #333;
  --colors-secondary: #78a45b;
  --colors-button: #415d4a;

  /* Gaps */
  --gap-5xl: 1.5rem;
  --gap-xs: 0.75rem;
  --gap-5xs: 0.5rem;
  --gap-9xs: 0.25rem;
  --gap-77xl: 6rem;
  --gap-17xl: 2.25rem;
  --gap-base: 1rem;
  --gap-7xs: 0.38rem;
  --gap-3xs-1: 0.57rem;

  /* Paddings */
  --padding-5xl: 1.5rem;
  --padding-xs: 0.75rem;
  --padding-xxs: 0.5rem;
  --padding-11xs: 0.13rem;
  --padding-77xl: 6rem;
  --padding-29xl: 3rem;
  --padding-13xl: 2rem;

  /* border radiuses */
  --br-5xs: 8px;
  --br-9xs: 4px;

  /* Effects */
  --sm: 0px 2px 10px rgba(50, 50, 50, 0.1);
}

.hover-effect-xl:hover,
.hover-effect:hover {
  translate: 0.3s;
  transition: 0.3s;
  transform: translateY(2px);
}

.hover-effect-xl:hover {
  transform: translateY(4px);
}
