.logotext-icon {
  position: relative;
  width: 2.64rem;
  height: 1.55rem;
}
.logoslogan {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs-5);
}
.notification-icon {
  cursor: pointer;
}
.notification-icon,
.user-icon {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
}
.icons,
.topnav {
  display: flex;
  flex-direction: row;
}
.icons {
  height: 1.63rem;
  align-items: center;
  justify-content: right;
  gap: var(--gap-xs);
}
.topnav {
  align-self: stretch;
  align-items: flex-end;
  justify-content: space-between;
  cursor: pointer;
}
.dashboard {
  position: relative;
  color: var(--text-text1);
  cursor: pointer;
}
.caret-icon {
  position: relative;
  width: 0.27rem;
  height: 0.5rem;
}
.notifications {
  position: relative;
  cursor: pointer;
}
.crumb1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.edit {
  position: relative;
}
.crumb2 {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.breadcrumbs,
.nav {
  display: flex;
  justify-content: flex-start;
}
.breadcrumbs {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-9xs);
  color: var(--text-text2);
  font-family: var(--label);
}
.nav {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xs);
  font-size: var(--breadcrumb-size);
  color: var(--colors-primary);
}
.titre {
  position: relative;
  font-weight: 500;
  text-shadow: var(--sm);
}
.titlecontainer {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.container,
.logout,
.new-user,
.titlecontainer {
  align-self: stretch;
  display: flex;
}
.container {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--title-size);
  color: var(--text-text0);
}
.logout,
.new-user {
  border-radius: var(--br-5xs);
  background-color: var(--colors-accent);
  box-shadow: var(--sm);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-13xl);
  align-items: center;
  justify-content: center;
  mix-blend-mode: normal;
  cursor: pointer;
}
.logout {
  background-color: var(--colors-red);
}
.admin-panel {
  position: relative;
  background-color: var(--text-textneg);
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-17xl);
  text-align: left;
  font-size: var(--label-size);
  color: var(--text-textneg);
  font-family: var(--title);
}
