.pause-icon1 {
  position: relative;
  width: 1.75rem;
  height: 1.75rem;
}
.titre2 {
  position: relative;
  font-weight: 500;
  text-shadow: var(--sm);
}
.cams,
.gridcontainer,
.titlecontainer1 {
  display: flex;
  justify-content: flex-start;
}
.titlecontainer1 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
}
.cams,
.gridcontainer {
  align-items: flex-start;
  gap: var(--gap-5xl);
}

.gridcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}
.camscontainer,
.gridcontainer {
  align-self: stretch;
}
.camscontainer,
.contentwrapper1,
.dashboard2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-17xl);
}
.contentwrapper1 {
  margin: auto;
  font-size: var(--title-size);
  color: var(--text-text0);
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1480px;
}

.dashboard2 {
  position: relative;
  background-color: var(--text-textneg);
  width: 100%;
  overflow-y: auto;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--breadcrumb-size);
  color: var(--colors-primary);
  font-family: var(--title);
}
/*
@media (width < 550px) {
  .contentwrapper1 {
    display: flex;
    padding: 0 var(--padding-251xl);
    font-size: var(--title-size);
    color: var(--text-text0);
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
  }
}*/

.cam-grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: var(--gap-5xl);
}

.cam-grid-container .full-width {
  grid-column: 1 / -1;
}
