.vector-icon4 {
  position: relative;
  width: 0.75rem;
  height: 0.75rem;
}
.magnifyingglass {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
