.logotext-icon1 {
  position: relative;
  width: 2.64rem;
  height: 1.55rem;
}
.smart-homes-smarter1 {
  align-self: stretch;
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 5.06rem;
  flex-shrink: 0;
}
.logoslogan1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs-5);
}
.logoslogan1,
.notification-icon1 {
  cursor: pointer;
}
.notification-icon1,
.user-icon1 {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
}
.icons1 {
  height: 1.63rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.dashboard1,
.topnav1 {
  display: flex;
  cursor: pointer;
}
.topnav1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.dashboard1 {
  position: relative;
  color: var(--text-text1);
  align-items: center;
  width: 3.56rem;
  flex-shrink: 0;
}
.caret-icon2 {
  position: relative;
  width: 0.27rem;
  height: 0.5rem;
}
.notifications2 {
  position: relative;
  cursor: pointer;
}
.crumb11 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.edit1 {
  position: relative;
}
.crumb21 {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.breadcrumbs1,
.nav1 {
  display: flex;
  justify-content: flex-start;
}
.breadcrumbs1 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-9xs);
  color: var(--text-text2);
  font-family: var(--label);
}
.nav1 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xs);
}
.titre1 {
  position: relative;
  font-weight: 500;
  text-shadow: var(--sm);
}
.alerts {
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
}
.alerts,
.alerts-parent,
.alerts1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.alerts1 {
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
}
.alerts-parent {
  align-self: stretch;
  flex-direction: row;
}
.notifications3 {
  align-self: stretch;
  height: 61.13rem;
  gap: var(--gap-17xl);
}
.contentwrapper,
.notifications1,
.notifications3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contentwrapper {
  align-self: stretch;
  flex: 1;
  padding: 0 var(--padding-251xl);
  font-size: var(--title-size);
  color: var(--text-text0);
}
.notifications1 {
  position: relative;
  background-color: var(--text-textneg);
  width: 100%;
  height: 57.88rem;
  overflow-y: auto;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-17xl);
  text-align: left;
  font-size: var(--breadcrumb-size);
  color: var(--colors-primary);
  font-family: var(--title);
}
